<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div id="filters-main">
    <div class="left_img_button" id="slideButton">
        <i class="fa-solid fa-angle-left"></i>
    </div>
    <div id="filters">
        
        <a href="/listings">
            <div class="filter active">
                <div><img src="/icon/0.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p style="text-decoration: none;">ALL</p>
            </div>
        </a>
        <a href="/listings/filter/castles">
            <div class="filter">
                <div><img src="/icon/17.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Castles&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/trending">
            <div class="filter" >
                <div><img src="/icon/14.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Trending&nbsp;</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/9.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Rooms&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/beach">
            <div class="filter">
                <div><img src="/icon/1.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Beach&nbsp;</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/19.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Top of the world</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/12.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Countryside</p>
            </div>
        </a>
        <a href="listings/filter/pools">
            <div class="filter">
                <div><img src="/icon/6.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Amazing pools</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/3.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;OMG!&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/lake">
            <div class="filter">
                <div><img src="/icon/4.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Lake&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/camping">
            <div class="filter">
                <div><img src="/icon/18.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Camping</p>
            </div>
        </a>
        <a href="/listings/filter/fariming">
            <div class="filter">
                <div><img src="/icon/7.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>fariming</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/8.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Amazing views</p>
            </div>
        </a>
        <a href="/listings/filter/treehouse">
            <div class="filter">
                <div><img src="/icon/13.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Treehouse</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/5.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Design&nbsp;</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/15.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Tropical</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/11.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Tiny house</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/16.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>National park</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/20.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Luxe</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Cabins</p>
            </div>
        </a>
        <a href="/listings/filter/iconic">
            <div class="filter">
                <div><img src="/icon/21.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Iconic cities</p>
            </div>
        </a>
        <a href="/listings">
            <div class="filter">
                <div><img src="/icon/22.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Earth homes</p>
            </div>
        </a>
    </div>

    <div class="right_img_button active" id="slideButton">
        <i class="fa-solid fa-angle-right"></i>
    </div>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
        </div>
    </div>
</div>

    <!-- <h1>All Listings</h1> -->
    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(listing of listings){ %>
            <a href="/listings/<%= listing.id %>" class="listing-link">
                <div class="card listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top img-hover" alt="Listing_Image">
                    <div class="card-img-overlay">
                        <img src="/Icon/heart-black.png" alt="black_heart" class="black_heart">
                      </div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= listing.title %></b> <br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        <i class="tax-info">&nbsp; &nbsp;+18% GST</i><br>
                        <i class="tax-info tax-underline ms-1"><i class="rs-sign"><b> &#8377;</i><%= (listing.price*1.18).toLocaleString("en-In") %></b> &nbsp;total after taxes</i>
                        </p>
                    </div>
                  </div>
            </a>
        <% } %>
    </div>
    
</body>
<script src="/js/filter.js"></script>