<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h3><%= listing.title %> :-</h3>
        </div>
            <div class="card col-6 offset-3 show-card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="Listing_Image">
                <div class="card-body mt-2">
                    <p class="card-text">
                        <%= listing.description %> <br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                        <%= listing.location %> <br>
                        <%= listing.country %>
                    </p>
                </div>
            </div>
    </div>
    <div class="btns">
        <a href="/listings/<%= listing.id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <form action="/listings/<%= listing.id %>?_method=DELETE" method="post">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>

    <div class="col-8 offset-3 mt-3">
        <hr>
        <h4>Leave a review</h4>
        <form action="/listings/<%= listing.id %>/review" method="post" novalidate class="needs-validation">

            <div class="mb-3 mt-3">
                <label class="form-label"  for="comment">Rating</label>
                <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label" for="comment">Comment</label>
                <textarea required class="form-control" name="review[comment]" id="comment" rows="5"></textarea>
                <div class="invalid-feedback">
                    Please add some comment for review
                </div>
            </div>

            <button class="btn btn-outline-dark">Submit</button>
        </form>

        <hr>

        <h4>All Reveiws</h4>
        <ul>    

        </ul><% for(review of listing.review){ %>
                <li><%= review.comment %>, <%= review.rating %></li>
            <% } %>
        
    </div>
    
</body>